.cabecalhoPrincipal .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap {
    width: 100%;
}

.list-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

@media (max-width: 768px) {
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: normal;
        text-align: center;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .cabecalhoPrincipal-nav, .conteudoPrincipal-cursos, .rodapePrincipal-patrocinadores .container,
    .rodapePrincipal-navMap-list {
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list {
        flex-direction: column;
        gap: 20px;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}